{% extends 'base.html.twig' %}

{% block title 'Home' %}

{% block body %}
    <div class="flex flex-col space-y-6 items-center justify-center min-h-screen">
        <h1 class="text-center text-5xl font-semibold text-blue-500">
            Symfony <span class="text-red-500">&hearts;</span> Tailwind!
        </h1>

        <a href="https://symfony.com" class="btn">symfony.com</a>
    </div>
{% endblock %}
